snippet m "main"
#include <iostream>

int main() {

}
endsnippet

snippet c "Class"
class $1 {
public:

private:
};	
endsnippet

snippet s "Struct"
struct $1 {

};	
endsnippet

snippet ec "Enum Class"
enum class $1 {

};
endsnippet

snippet cc "Comment"
/* $1 */
endsnippet


